:root{
    --terminal-bg: #000000;
    --terminal-color: #ffffff;
    --terminal-font-name: monospace;
    --termina-font-size: 14px;
}

body{
    background-color: var(--terminal-bg);
    color: var(--terminal-color);
    font-family: var(--terminal-font-name);
    font-size: var(--termina-font-size);
}

#terminal{
    line-height: 1.4;
}

#input {
    width: 78%;
    background-color: transparent;
    color: var(--terminal-color);
    border: none;
    outline: none;
    font-family: var(--terminal-font-name);
    font-size: var(--termina-font-size);
}
